.container {
  background-color: #242424;
  height: 800px;
  padding-top: 100px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.imageContainer {
  justify-content: center;
  gap: 5%;
}

.image1 {
  height: 300px;
  width: auto;
}

.image2 {
  height: 300px;
  width: auto;
}

.heading {
  color: #fafafa;
  font-size: 2.5rem;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  text-decoration: none !important;
  margin-bottom: 40px;
}

.textContainer {
  text-align: center;
  width: 80%;
  margin: auto;
  padding-bottom: 50px;
}

.paragraph {
  color: #fafafa;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0px !important;
}

@media screen and (max-width: 767px) {
  .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .heading {
    font-size: 2rem;
    padding-top: 30px;
  }

  .textContainer {
    text-align: center;
    width: 75%;
    margin: 0 auto;
  }

  .paragraph {
    font-size: 1rem;
  }
}

@media screen and (max-width: 390px) {
  .textContainer {
    width: 100%;
  }

  .paragraph {
    font-size: 1rem;
  }

  .image1 {
    height: 150px;
    width: auto;
  }

  .image2 {
    height: 150px;
    width: auto;
  }
}
