@keyframes slideInLeft {
  from {
    transform: translateX(-250px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 100;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(250px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 100;
  }
}

@keyframes slideInBelow {
  from {
    transform: translateY(200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 100;
  }
}

.slideInLeft {
  animation: slideInLeft 1s ease-in;
}

.slideInRight {
  animation: slideInRight 1s ease-in;
}

.slideInBelow {
  animation: slideInBelow 1s ease-in;
}

.Contain {
  height: 100ch;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 70px;
}

.leftside {
  width: 100%;
  padding: 20px;
  margin-left: 50px;
}

.rightside {
  margin-right: 250px;
}

h1 {
  color: #000;
  font-size: 3rem;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}

.paragraph {
  background: linear-gradient(90.06deg, #da8889 -15.48%, #9baab5 40.77%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 2rem !important;
  font-weight: 700;
  letter-spacing: 0px;
}

.button {
  font-weight: 600;
  border: none;
  background-color: #000;
  color: #fafafa;
  height: 50px;
  width: 180px;
}

.button:hover {
  background-color: #3ec1bf;
  color: #fafafa;
  transition: 0.5s;
}

.button2 {
  margin-left: 1rem;
  background-color: transparent;
  border: 5px solid #000;
  color: #000;
}

.button2:hover {
  background-color: #000;
  color: #fafafa;
}

@media screen and (max-width: 1024px) {
  .leftside {
    margin-left: -40px;
  }

  .rightside {
    margin-right: 150px;
  }

  h1 {
    font-size: 3rem;
  }

  .paragraph {
    font-size: 2rem !important;
  }

  .button {
    height: 50px;
    width: 150px;
  }
}

@media screen and (max-width: 414px) {
  .Contain {
    height: 800px;
    flex-direction: column;
    justify-content: space-between;
  }

  .leftside {
    text-align: center;
    margin-right: 100px;
    margin-top: 50px;
  }

  .rightside {
    margin-bottom: 100px;
    margin-right: 120px;
  }

  h1 {
    font-size: 2rem;
  }

  .paragraph {
    font-size: 1.5rem !important;
  }

  .button {
    height: 40px;
    width: 140px;
  }
}

/* @media screen and (max-width: 390px) {
  .Contain {
    flex-direction: column;
    justify-content: space-between;
  }

  .leftside {
    text-align: center;
    margin-right: 100px;
    margin-top: 50px;
  }

  .rightside {
    margin-bottom: 100px;
    margin-right: 120px;
  }
} */
