@keyframes slideInAbove {
  from {
    transform: translateY(-25px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 100;
  }
}

.slideInAbove {
  animation: slideInAbove 1s ease-in;
}

.header {
  background-color: transparent;
  height: 6%;
  margin: 0px 50px;
}

.toggle {
  outline: none !important;
}

.logo {
  color: #000;
  font-size: 2.5rem;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  padding-left: 25px;
}

.logo:hover {
  color: #dc8485;
  transition: 0.5s;
}

.links {
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Inter", sans-serif;
}
.links::after {
  content: "";
  width: 0%;
  height: 4px;
  border-radius: 20px;
  background: #dc8485;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.links:hover::after {
  width: 100%;
}

.nav {
  gap: 1rem;
  padding-right: 25px;
}

.toggle {
  outline: none !important;
  border: none !important;
}

@media screen and (max-width: 390px) {
  .logo {
    font-size: 1.6rem;
  }

  .header {
    margin: 0;
  }
}
