 .Portfolio {
  background-color: #f3f3f3;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 25px;
} 

.Project {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}

.Project img {
  width: 100%;
  height: 200px;
  border-radius: 5px;
}

.Overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 5px;
}

.Text {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3ec1bf;
  color: white;
  font-size: 2rem;
  width: 80%;
  height: 60%;
  padding: 2rem 2rem;
}

.Text p {
  padding-right: 20px;
}

.Text a {
  text-decoration: none;
  color: white;
  transition: 0.3s ease-in-out;
}

.Text a:hover {
  color: black;
}

.github {
  height: 40px;
  width: 40px;
  padding-bottom: 6px;
}

.Project:hover .Overlay {
  opacity: 1;
}

.Heading {
  color: #000;
  font-size: 3rem;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  text-decoration: none !important;
  margin-bottom: 25px;
}

.Project p {
  margin: 0;
}

@media screen and (max-width: 414px) {
  .Portfolio {
    height: 700px;
  }

  .Project {
    margin: auto;
    margin-bottom: 20px;
  }

  .Project img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
}
